## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [1]:
# write your code here
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [5]:
# write your code here
n = int(input())
sum = 0
for i in range(1,n+1):
  sum += i
print(sum)

81
3321

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [7]:
# write your code here
for i in range(1,51):
 if i % 2 == 0:
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [8]:
# write your code here
N = int(input("Enter N: "))
count = 0

for i in range(1, N + 1):
    if i % 3 == 0:
        count += 1

print(count)

Enter N: 19
6

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [9]:
# write your code here
n = int(input("Enter n: "))
for i in range(1,11):
  print(f"{n} * {i} = {n*i}")

Enter n: 25
25 * 1 = 25
25 * 2 = 50
25 * 3 = 75
25 * 4 = 100
25 * 5 = 125
25 * 6 = 150
25 * 7 = 175
25 * 8 = 200
25 * 9 = 225
25 * 10 = 250

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [13]:
# write your code here
N = int(input("Enter N: "))
fact = 1
for i in range(1, N + 1):
    fact *= i

print(fact)

Enter N: 3
6

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [14]:
# write your code here
N = int(input("Enter N: "))
total = 0

for i in range(1, N + 1):
    total += i
    print(total)

Enter N: 15
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [16]:
# write your code here
N = int(input("Enter N: "))

for i in range(1, N + 1):
    print(i+5)

Enter N: 7
6
7
8
9
10
11
12

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [23]:
# write your code here
N = int(input("Enter N: "))
even_n = 0
odd_n = 0

for i in range(1, N + 1):
    if i % 2 == 0:
        even_n += 1
    else:
        odd_n += 1

print("Even:", even_n)
print("Odd:", odd_n)

Enter N: 26
Even: 13
Odd: 13

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [24]:
# write your code here
n = int(input("Enter n: "))
for i in range(1,n+1):
  print(i*i)

Enter n: 7
1
4
9
16
25
36
49

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [25]:
# write your code here
n = int(input())
even_s = 0
odd_s = 0
for i in range(1,n+1):
  if i % 2 == 0:
    even_s += i
    continue
  odd_s += i
  continue
print(f"Even Sum: {even_s}")
print(f"Odd Sum: {odd_s}")

21
Even Sum: 110
Odd Sum: 121

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [27]:
# write your code here
n = int(input())
count = 0
for i in range(1,n+1):
  if i % 3 == 0 and i % 5 == 0:
    count += 1
print(count)

100
6

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [32]:
# write your code here
n = int(input())
for i in range(1,n+1):
  if i % 4 == 0:
    continue
  print(i)

20
1
2
3
5
6
7
9
10
11
13
14
15
17
18
19

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [34]:
# write your code here
N = int(input("Enter N: "))
largest = 1

for i in range(1, N + 1):
    if i > largest:
        largest = i

print(largest)

Enter N: 994
994

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [40]:
a = int(input())
b = int(input())
result = 1

for i in range(b):
    result *= a

print(result)

5
7
78125

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [48]:
# write your code here
n = int(input())
for i in range(2,n-1):
  if n % i == 0:
    print("Not Prime")
    break

10
Not Prime

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [46]:
# write your code here
N = int(input())

for num in range(2, N + 1):
    is_prime = True

    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print(num)

15
2
3
5
7
11
13

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [51]:
# write your code here
n = int(input())
for i in range(1,n+1):
  if i % 7 == 0 and i % 11 == 0:
    print("The number is : ",i)
    break

100
The number is :  77

## Question 19 (Hard)

**Title:** Number Pattern

### Problem Statement:
Take N as input and print a right-angled number pattern using nested loops.

Example:
1
12
123

### Approach:
Use an outer loop for rows and an inner loop for printing numbers.

In [52]:
# write your code here
N = int(input())

for i in range(1, N + 1):
    for j in range(1, i + 1):
        print(j, end="")
    print()

5
1
12
123
1234
12345