# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [1]:
# Answer here
a=8
b=12
print(a+b)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [2]:
# Answer here
a=20
b=7
print(a-b)

13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [3]:
# Answer here
a=6
b=9
print(a*b)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [11]:
# Answer here
a=45
b=9
print("This is Integer format: ",int(a/b))
print("This is Float format: ",(a/b))
#Didn't knew if it should be an integer or float so, I did both

This is Integer format:  5
This is Float format:  5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [16]:
# Answer here
a = 45//3
b = 50//6
print("45 floor divided by 3: ",a)
print("50 floor divided by 6: ",b)

45 floor divided by 3:  15
50 floor divided by 6:  8

In [19]:
a = 45
b = 3
c = 50
d = 6
print("45 floor divided by 3: ",a//b)
print("50 floor divided by 6: ",c//d)

45 floor divided by 3:  15
50 floor divided by 6:  8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [18]:
# Answer here
a = 29 % 5
print("The remainder is: ",a)

The remainder is:  4

In [20]:
a = 29
b = 5
print("The remainder is: ",a%b)

The remainder is:  4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [21]:
# Answer here
a = 3**4
print("3 raised to 4 is: ",a)

3 raised to 4 is:  81

In [22]:
a = 3
b = 4
print("3 raised to 4 is: ",a**b)

3 raised to 4 is:  81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [23]:
# Answer here
a=21

print(+a)
print(-a)

21
-21

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [24]:
# Answer here
a = 5 + 3 * 2
b = (5 + 3) * 2
print(a)
print(b)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [25]:
# Answer here
a = 15
b = 4
print("Addition: ",a+b)
print("Subtraction: ",a-b)
print("Multiplication: ",a*b)
print("Division: ",a/b)
print("Floor Division: ",a//b)
print("Remainder: ",a%b)
print("Power: ", a**b)

Addition:  19
Subtraction:  11
Multiplication:  60
Division:  3.75
Floor Division:  3
Remainder:  3
Power:  50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [27]:
# Answer here
n = 10
print("n is: ",n)
n += 5
print("After adding 5: ",n)
n *= 2
print("After multiplying 2: ",n)
n-= 4
print("After subtracting 4: ",n)

n is:  10
After adding 5:  15
After multiplying 2:  30
After subtracting 4:  26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [30]:
x=3
y=7
x,y=y,x
print("The value of x after swapping is: ",x,
      "The value of Y after swapping is: ",y)

The value of x after swapping is:  7 The value of Y after swapping is:  3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [33]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
result = a+b
print("The sum of the two numbers is: ",result)

Enter the first number: 8
Enter the second number: 7
The sum of the two numbers is:  15

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [34]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
c = float(input("Enter the third number: "))
average = (a+b+c)/3
print("The average of the three numbers is: ",average)
print("The average of the three numbers in integer format is: ",int(average))

Enter the first number: 7
Enter the second number: 9
Enter the third number: 25
The average of the three numbers is:  13.666666666666666
The average of the three numbers in integer format is:  13

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [40]:
from re import A
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
radius = float(input("Enter the radius of the circle: "))
Circumference = 2 * 3.14159 * radius
Area = 3.14159 * radius ** 2
print("The Circumference of the circle is: ",Circumference)
print("The Area of the circle is: ",Area)
print("The Circumference of the circle in integer format is: ",int(Circumference))
print("The Area of the circle in integer format is: ",int(Area))

Enter the radius of the circle: 5.6
The Circumference of the circle is:  35.185807999999994
The Area of the circle is:  98.52026239999998
The Circumference of the circle in integer format is:  35
The Area of the circle in integer format is:  98

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [42]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
total_seconds = int(input("Enter the total number of seconds: "))
hours = total_seconds // 3600
minutes = (total_seconds % 3600) // 60
seconds = total_seconds % 60
print(f"{hours}:{minutes}:{seconds}")

Enter the total number of seconds: 800
0:13:20

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [45]:
# Answer here
principle = (float(input("Enter the principle: ")))
rate = (float(input("Enter the rate: ")))
time = (float(input("Enter the time(in years): ")))
simple_interest = (principle * rate * time) / 100
print("The simple interest is: ",simple_interest)

Enter the principle: 20000
Enter the rate: 2.5
Enter the time(in years): 5
The simple interest is:  2500.0