#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [3]:
# write your code here
data = [10, 20, 20, 30, 40, 40]
set1 = set(data)

print(set1)

{40, 10, 20, 30}

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [5]:
# write your code here
s = {1, 2, 3, 3, 2}
print(s)

# The output will be {1,2,3} because set does not allow repeated values and automatically removes the repeated values

{1, 2, 3}

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [6]:
# write your code here
s1 = set()
s1.update('1','2','3','4','5')
print(s1)

{'1', '4', '2', '5', '3'}

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [7]:
# write your code here
s = {}
s.add(10)
# This error occurs because the way 's' is defined as dictionary and not as set.

AttributeError: 'dict' object has no attribute 'add'

In [8]:
# To solve this error
s = set()
s.add(10)
print(s)

{10}

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [9]:
# write your code here
A = {2, 4, 6, 8}
B = {4, 8, 12}
print('Union',A.union(B))
print("Intersection",A.intersection(B))

Union {2, 4, 6, 8, 12}
Intersection {8, 4}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [10]:
# write your code here
s = {5, 10, 15, 20}
if 15 in s:
    print("15 exists in the set")
else:
  print("Not Found")

15 exists in the set

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [12]:
# write your code here
s = {10, 20, 30, 40}
s.discard(30)
print(s)

{40, 10, 20}

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [13]:
# write your code here
nums = [1, 2, 2, 3, 4, 4, 5]
nums = set(nums)
print(len(nums))

5

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [14]:
# write your code here
s = {10, 20, 30}
s.add(20)
print(len(s))

# The output is 3 as set doesnot allow repeated values so the output is 3

3

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

In [15]:
# write your code here
s = {1, 2, [3, 4]}

# no a set cannot contain a list because list is mutable and unhasable

TypeError: unhashable type: 'list'

### Q11
Convert {100, 200, 300} into list and print first element.

In [16]:
# write your code here
l1 = [100, 200, 300]
ls = set(l1)
print(ls)

{200, 100, 300}

### Q12
Students in two classes:
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [20]:
# write your code here
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
print("Union",class_A.union(class_B))

Union {'Karan', 'Aman', 'Simran', 'Riya', 'Neha'}

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [17]:
# write your code here
text = 'programming'
text = set(text)
print(text)

{'p', 'a', 'i', 'o', 'r', 'g', 'm', 'n'}

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [18]:
# write your code here
sentence = 'python is easy and python is powerful'
sentence = set(sentence.split())
print(sentence)

{'easy', 'is', 'python', 'and', 'powerful'}

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [19]:
# write your code here
s = set('hello')
print(s)

{'h', 'l', 'e', 'o'}