# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
Tup_1 = (1,2,3,4,5)
print(Tup_1)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [6]:
# write your answer here
Tup_1 = (1,2.5,'Name',True)
print(Tup_1[0])
print(Tup_1[1])
print(Tup_1[2])
print(Tup_1[3])

1
2.5
Name
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [8]:
# write your answer here
Tup_1 = ('Pratham','Rahul','Aman','Naman')
print(len(Tup_1))

4

### Question 4
Access and print the last element of a tuple.

In [9]:
# write your answer here
Tup_1 = (1,2,3,4,5,6)
print(Tup_1[-1])

6

### Question 5
Check whether an element exists in a tuple or not.

In [13]:
# write your answer here
Tup_1 = (1,2,3,4,5,6)
print(3 in Tup_1)
print(0 in Tup_1)

True
False

### Question 6
Convert a tuple into a list.

In [14]:
# write your answer here
Tup_1 = (1,2,3,4,5,6)
print(list(Tup_1))

[1, 2, 3, 4, 5, 6]

### Question 7
Convert a list into a tuple.

In [15]:
# write your answer here
List_1 = [1,2,3,4,5,6]
print(tuple(List_1))

(1, 2, 3, 4, 5, 6)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [16]:
# write your answer here
Tup_1 = (1,2,3,4,4,4,4,5,5,5,1,1,1,1)
print(Tup_1.count(1))

5

### Question 9
Find the index of an element in a tuple.

In [17]:
# write your answer here
Tup_1 = (1,2,3,4,5,6,7,8)
print(Tup_1.index(5))

4

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [18]:
# write your answer here
Tup_1 = (1,2,3,4,5,6,7,8)
Tup_1[3] = 23
print(Tup_1)

TypeError: 'tuple' object does not support item assignment