Q1. Print numbers from 1 to 20 using while loop.

Approach:
- Initialize a variable
- Use while condition
- Increment inside loop

In [22]:
#write answer here
n = 1
while n<=20:
  print(n)
  n=n+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Q2. Print even numbers till 50 using while loop.

Approach:
- Start from 2
- Increment by 2
- Stop at 50

In [23]:
#write answer here
n = 2
while n<=50:
  print(n)
  n=n+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Q3. Print multiplication table of 5.

Approach:
- Initialize counter
- Multiply inside loop

In [25]:
#write answer here
n = 1

while n <= 10:
    print("5 x", n, "=", 5 * n)
    n += 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Q4. Find sum of numbers from 1 to n.

Approach:
- Take input n
- Add numbers in loop

In [27]:
#write answer here
n = int(input())
total = 0
i = 1

while i <= n:
    total += i
    i += 1

print(total)

20
210

Q5. Reverse a number using while loop.

Approach:
- Extract last digit
- Build reversed number

In [29]:
#write answer here

n = int(input())
rev = 0

while n > 0:
    digit = n % 10
    rev = rev * 10 + digit
    n = n // 10

print(rev)

884
488

Q6. Count digits in a number.

Approach:
- Divide number by 10 repeatedly
- Count iterations

In [31]:
#write answer here
n = int(input())
count = 0

while n > 0:
    n = n // 10
    count += 1

print(count)

1000
4

Q7. Check if a number is palindrome.

Approach:
- Reverse number
- Compare with original

In [32]:
#write answer here
n = int(input())
original = n
rev = 0

while n > 0:
    digit = n % 10
    rev = rev * 10 + digit
    n = n // 10

if rev == original:
    print("Palindrome")
else:
    print("Not Palindrome")

848
Palindrome

Q8. Guess the number game.

Approach:
- Use while loop
- Continue until correct guess

In [34]:
#write answer here
n = int(input())
original  = 6
while n != original:
  n = int(input())
print("Correct")

4
6
Correct

Submission link for this assignment -